In [7]:
import pandas as pd

In [8]:
df_poblacion = pd.read_csv("poblacion.csv", delimiter=';')
df_poblacion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345 entries, 0 to 344
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CODIGO     345 non-null    int64
 1   MUNICIPIO  345 non-null    object
 2   POBLACIÓN  345 non-null    int64
dtypes: int64(2), object(1)
memory usage: 8.2+ KB

In [9]:
df_poblacion.head(345)

     CODIGO      MUNICIPIO  POBLACIÓN
0      1101        IQUIQUE     216514
1      1107  ALTO HOSPICIO     124150
2      1401   POZO ALMONTE      16683
3      1402         CAMIÑA       1345
4      1403       COLCHANE       1556
..      ...            ...        ...
340   16301     SAN CARLOS      55935
341   16302       COIHUECO      28147
342   16303         ÑIQUÉN      11556
343   16304     SAN FABIÁN       4607
344   16305    SAN NICOLÁS      12068

[345 rows x 3 columns]

In [10]:
df_presupuesto = pd.read_csv("presupuesto_2019.csv",delimiter=";")
df_presupuesto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345 entries, 0 to 344
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CODIGO       345 non-null    int64
 1   MUNICIPIO    345 non-null    object
 2   PRESUPUESTO  345 non-null    object
dtypes: int64(1), object(2)
memory usage: 8.2+ KB

In [11]:
df_presupuesto.head()

   CODIGO      MUNICIPIO PRESUPUESTO
0    1101        IQUIQUE    59072234
1    1107  ALTO HOSPICIO    13984411
2    1401   POZO ALMONTE     7613962
3    1402         CAMIÑA     1584008
4    1403       COLCHANE     2500000

In [14]:
df_resultados = pd.read_csv("Resultados_Pleb.csv",delimiter=",")
df_resultados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 346 entries, 0 to 345
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cod_com  346 non-null    int64
 1   Apruebo  346 non-null    int64
 2   Rechazo  346 non-null    int64
 3   Blancos  346 non-null    int64
 4   Nulos    346 non-null    int64
dtypes: int64(5)
memory usage: 13.6 KB

In [17]:
df_resultados.head()

    cod_com  Apruebo  Rechazo  Blancos  Nulos
0      1101    60976    18855      114    275
1      1107    21373     4608       46    102
2      1401     3730     1076        8     29
3      1402      293      207        2     11
4      1403      131      374        3     16
..      ...      ...      ...      ...    ...
95     6201     6173     1407        9     29
96     6202     1158      315        3      8
97     6203     1971      547        4      7
98     6204     2408      499        8     11
99     6205     2322      568       10     14

[100 rows x 5 columns]